<main id="main">

    <!-- ======= Tourist Category ======= -->
    <section class="section-touristcat section-t6">
        <div class="title_mainCarousel">
            <h2>tu Refugio... tu Inversión... TurismoDiversión</h2>
        </div>

        <div id="touristcat-carousel" class="swiper">
            <div class="containerTouristcat swiper-wrapper">
            </div>

            <div class="touristcat-carousel-pagination carousel-pagination"></div>
        </div>
    </section>

    <!-- ======= Types ======= -->
    <section class="section-types section-t3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap-2 d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Tipos de Inmuebles</h2>
                        </div>
                    </div>
                </div>
            </div>
  
            <div id="types-carousel" class="swiper">
                <div class="containerTypes swiper-wrapper">
                </div>
            
                <div class="types-carousel-pagination carousel-pagination"></div>
            </div>
        </div>
    </section>

    <!-- ======= Categories ======= -->
    <section class="section-categories section-t3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap-2 d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Tus gustos</h2>
                        </div>
                    </div>
                </div>
            </div>
  
            <div id="categories-carousel" class="swiper">
                <div class="containerCategories swiper-wrapper">
                </div>
            
                <div class="categories-carousel-pagination carousel-pagination"></div>
            </div>
        </div>
    </section>

    <!-- ======= Operations ======= -->
    <section class="section-operations section-t3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap-2 d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Tu decides</h2>
                        </div>
                    </div>
                </div>
            </div>
  
            <div id="operations-carousel" class="swiper">
                <div class="containerOperations swiper-wrapper">
                </div>

                <div class="operations-carousel-pagination carousel-pagination"></div>
            </div>
        </div>
    </section>

    <!-- ======= Cities ======= -->
    <section class="section-cities section-t4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap-2 d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Ciudades de las que enamorarse</h2>
                        </div>
                    </div>
                </div>
            </div>
  
            <div id="cities-carousel" class="swiper">
                <div class="containerCities swiper-wrapper">
                </div>

                <div class="cities-carousel-pagination carousel-pagination"></div>
            </div>
        </div>
    </section>

    <!-- ======= Last search ======= -->
    <section class="section-lastsearch section-t3">
        <div class="container">
            <div class="row">

            </div>
  
            <div id="lastsearch-carousel" class="swiper">
                <div class="containerLastsearch swiper-wrapper">
                </div>

                <div class="lastsearch-carousel-pagination carousel-pagination"></div>
            </div>
        </div>
    </section>

    <!-- ======= Most visited ======= -->
    <section class="section-mostvisited section-t3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap-2 d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Los más visitados</h2>
                        </div>
                    </div>
                </div>
            </div>
  
            <div id="mostvisited-carousel" class="swiper">
                <div class="containerMostvisited swiper-wrapper">
                </div>

                <div class="mostvisited-carousel-pagination carousel-pagination"></div>
            </div>
        </div>
    </section>

    <!-- ======= Recomendations ======= -->
    <section class="section-recomendations section-t3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap-2 d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Explora nuestras recomendaciones</h2>
                        </div>
                    </div>
                </div>
            </div>
  
            <div id="recomendations-carousel" class="swiper">
                <div class="containerRecomendations swiper-wrapper">
                </div>

                <div class="recomendations-carousel-pagination carousel-pagination"></div>
            </div>
        </div>
    </section>

</main>

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Template Main JS File -->
<script src="<?php echo SITE_PATH ?>view/js/main_template.js"></script>