<main id="main">

    <!-- ======= Details RealEstate ======= -->
    <section class="section-detailsCarousel section-t6">

    </section>

    <section class="section-detailsRealestate container">
        <div class="row">
            <div class="container_detailsRealestate">

            </div>
        </div>
    </section>

    <!-- ======= Filters ======= -->
    <section class="section-filters">

    </section>

    <!-- ======= List RealEstates ======= -->
    <section class="section-listRealestates container">
        <div class="row container_listRealestates">
            <div class="list_realestates"></div>
            <div id="list_map"></div>
        </div>
    </section>

</main>

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Template Main JS File -->
<script src="<?php echo SITE_PATH ?>view/js/main_template.js"></script>